################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug
/packages.config
/Script.fsx
/AssemblyInfo.fs
